// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$color-initial: #FFFFFF !default;  // White
$color-primary: #4D148C !default; // Purple (btn)
$color-secondary: #FF6200 !default; // Orange
$color-tertiary: #007AB7 !default; // Blue (outline)
$color-quaternary: #0078B4 !default; // Blue (text)
$color-text:  #333333 !default; // Black (text)
$color-text-disabled: #E3E3E3 !default; // Gray (text of disabled)
$color-bg-disabled: #F2F2F2 !default; // Gray disabled (btn)
