// Nav
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.ch-navbar,
nav {
  background-color: $color-primary;
  width: 100%;
  height: 75px;
  box-shadow: none;
  
  &.pl-pr {
    padding-left: 40px;
    padding-right: 40px;  
  }
  
}